/*干掉站长统计的文本*/
a[title="站长统计"] {
    display: none;
}

/*标题*/
h1.title {
    font-family: 'Helvetica Neue', Helvetica, 'Microsoft Yahei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
    font-size: 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

h1.title .date {
    font-size: 14px;
    float: right;
    padding-top: 10px;
}

footer {
    margin: 100px 0 10px 0;
    color: #767676;
    text-align: center;
}

.row.grid {
    margin-bottom: 15px;
}

#shouttemp {
    border: 0;
    width: 200px;
    height: 20px;
}

#decklist, #output.deck {
    overflow-y: scroll;
    height: 520px;
}
#decklist li {
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    padding: 2px 5px;
    margin-bottom: 3px;
    line-height: 22px;
    cursor: pointer;
}
#decklist li:hover {
    border: 1px solid #B8D6FB;
    background-color: #EBF3FD;
    background-image: linear-gradient(to bottom, #FAFBFD, #EBF3FD);
}

#showdeck {
    width: 500px;
    padding: 5px 0px;
    background: #CCCCCC center center;
}

#showdeck label {
    text-shadow: -1px -1px #000;
    color: #FFF;
    font-weight: normal;
    border: 1px solid #FFF;
    padding: 0px 5px;
    margin: 1px 7px;
}
#showdeck label b {
    margin: 0px 8px;
    font-size: 16px;
    line-height: 100%;
}

#showdeck div {
    border: 1px solid #FFF;
    padding: 2px;
    margin: 0px 7px;
}

#showdeck img {
    width: 46px;
    height: 66px;
    margin: 1px;
    border: 1px solid transparent;
}

#showdeck .line11 img {
    margin-right: -3.8px;
}
#showdeck .line12 img {
    margin-right: -7.7px;
}
#showdeck .line13 img {
    margin-right: -11px;
}
#showdeck .line14 img {
    margin-right: -13.7px;
}
#showdeck .line15 img {
    margin-right: -16.1px;
}

#showdeck img:hover {
    border: 1px solid #FFF;
}

#pre_update_log .auto-generated {
    max-height: 300px;
    overflow-y: scroll;
}

#pre_release_cards {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 宋体;
}

#pre_release_cards img {
    width: 44px;
    height: 63px;
}

#pre_faq p {
    padding-left: 2em;
    border-left: 3px #EEEEEE solid;
    line-height: 200%;
    text-indent: -1.5em;
}

#pre_faq p::first-letter {
    font-weight: bold;
    margin-right: 0.5em;
}

#pre_faq p.q {
    background-color: #F0F0F0;
    border-color: #CCCCCC;
}

#pre_faq p.a {
    margin-bottom: 2em;
}

#pre_faq p:hover {
    border-color: #AAAAAA;
}
